
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/IndexLayout.cshtml";
}
    <!--Banner Map Wrap Start-->
    <div class="kode_banner_1">
        <div class="main_banner" id="hotlist">
        </div>
    </div>
    <!--Banner Map Wrap End-->
    <div class="kf_ticker-wrap">
        <div class="container">
            <div class="kf_ticker">
                <span>Breaking News</span>
                <div class="kf_ticker_slider">
                    <ul class="ticker">
                        <li><p>Sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy </p></li>
                        <li><p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy </p></li>
                        <li><p>Sanctus est Lorem ipsum dolor sit amet. </p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Main Content Wrap Start-->
    <div class="kode_content_wrap">
        <!--Result Slider Start-->
        <div class="result_slide_wrap">
            <div class="result_slider" id="schoollist">

            </div>
        </div>
        <!--Result Slider End-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8" id="content">

                    </div>
                    <aside class="col-md-4">
                        <!--Widget Ranking Start-->
                        <div class="widget widget_ranking">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>高校热度排行榜</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border">
                                <!--Table Wrap Start-->
                                <ul class="kf_table" id="schoolhotlist"></ul>
                                <!--Table Wrap End-->
                            </div>
                        </div>
                        <!--Widget Ranking End-->
                        <!--Widget Ranking Start-->
                        <div class="widget widget_recentnews gallery">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>最热高校新闻</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border" id="hotnav">

                            </div>
                        </div>
                        <!--Widget Ranking Start-->
                        <div class="widget widget_recentnews gallery">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>最新高校新闻</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border" id="recentnav">

                            </div>
                        </div>
                        <!--Widget Ranking End-->
                        <!--Widget Add 2 Strat-->
                        <div class="widget widget_add">
                            <div class="add_banner">
                                <a href="#"><img src="extra-images/add_banner2.jpg" alt=""></a>
                            </div>
                        </div>
                        <!--Widget Add 2 End-->
                        <!--Widget Next Match Start-->
                        <div class="widget widget_nextmatch">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>Next Match</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border">
                                <!--Widget Next Match Dec Start-->
                                <div class="nextmatch_dec">
                                    <h6>Laliga Semi Finals at city stadium</h6>
                                    <span>Friday, 10th Sep, 2017, 16:00GMT</span>
                                    <div class="match_teams">
                                        <div class="pull-left">
                                            <a href="#"><img src="images/team_logo11.png" alt=""></a>
                                        </div>
                                        <span>vs</span>
                                        <div class="pull-right">
                                            <a href="#"><img src="images/team_logo12.png" alt=""></a>
                                        </div>
                                    </div>
                                    <a class="input-btn" href="#">Buy Tickets Now</a>
                                    <h5>Starting in</h5>
                                    <!--Widget COUNT Down Start-->
                                    <ul class="kf_countdown countdown">
                                        <li>
                                            <span class="days">69</span>
                                            <p class="days_ref">days</p>
                                        </li>
                                        <li>
                                            <span class="hours">13</span>
                                            <p class="hours_ref">hours</p>
                                        </li>
                                        <li>
                                            <span class="minutes">44</span>
                                            <p class="minutes_ref">mins</p>
                                        </li>
                                        <li>
                                            <span class="seconds last">12</span>
                                            <p class="seconds_ref">secs</p>
                                        </li>
                                    </ul>
                                    <!--Widget COUNT Down End-->
                                </div>
                                <!--Widget Next Match Dec End-->
                            </div>
                        </div>
                        <!--Widget Next Match End-->
                        <!--Widget NewsLatter Start-->
                        <div class="widget widget_newsletter">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>Newsletters</span>
                            </h6>
                            <!--Heading 1 END-->
                            <div class="kf_border">
                                <div class="newsletter_dec">
                                    <h6>Subcribe Now!</h6>
                                    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor </p>
                                    <!--Input Dec Start-->
                                    <div class="input_dec">
                                        <input type="text" placeholder="Your Name">
                                    </div>
                                    <!--Input Dec END-->
                                    <!--Input Dec Start-->
                                    <div class="input_dec">
                                        <input type="text" placeholder="Your E-mail ID">
                                    </div>
                                    <!--Input Dec END-->
                                    <!--Radio Wrap Start-->
                                    <div class="radio_style2">
                                        <label class="radio_dec">
                                            <span class="radio">
                                                <input name="foo1" value="1" checked="" type="radio">
                                                <span class="radio-value" aria-hidden="true"></span>
                                            </span>
                                            <span>Daily</span>
                                        </label>
                                        <label class="radio_dec">
                                            <span class="radio">
                                                <input name="foo1" value="1" type="radio">
                                                <span class="radio-value" aria-hidden="true"></span>
                                            </span>
                                            <span>Weekly</span>
                                        </label>
                                        <label class="radio_dec">
                                            <span class="radio">
                                                <input name="foo1" value="1" type="radio">
                                                <span class="radio-value" aria-hidden="true"></span>
                                            </span>
                                            <span>Monthly</span>
                                        </label>
                                    </div>
                                    <!--Radio Wrap End-->
                                    <input class="input-btn" type="button" value="Subscribe">
                                    <em>100% No spam! We have promised to Our Mother...</em>
                                </div>
                            </div>
                        </div>
                        <!--Widget NewsLatter End-->
                        <!--Widget poll Start-->
                        <div class="widget widget_poll">
                            <!--Heading 1 Start-->
                            <h6 class="kf_hd1">
                                <span>Soccer Poll</span>
                            </h6>
                            <!--Heading 1 END-->
                            <!--Pool Wrap Start-->
                            <div class="kf_poll_dec">
                                <h6>Who will be the best winnter of golden league</h6>
                                <!--Radio Wrap Start-->
                                <div class="radio_style1">
                                    <label class="radio_dec">
                                        <span class="radio">
                                            <input name="foo" value="1" checked="" type="radio">
                                            <span class="radio-value" aria-hidden="true"></span>
                                        </span>
                                        <span>Leonal Messi</span>
                                    </label>
                                    <label class="radio_dec">
                                        <span class="radio">
                                            <input name="foo" value="1" type="radio">
                                            <span class="radio-value" aria-hidden="true"></span>
                                        </span>
                                        <span>hristiano Ronaldo</span>
                                    </label>
                                    <label class="radio_dec">
                                        <span class="radio">
                                            <input name="foo" value="1" type="radio">
                                            <span class="radio-value" aria-hidden="true"></span>
                                        </span>
                                        <span>Van Ronnie</span>
                                    </label>
                                </div>
                                <!--Radio Wrap End-->
                                <input class="input-btn" type="button" value="submit">
                            </div>
                            <!--Pool Wrap End-->
                        </div>
                        <!--Widget poll End-->
                        <!--Widget Add 3 Strat-->
                        <div class="widget widget_add">
                            <div class="add_banner">
                                <a href="#"><img src="extra-images/add_banne3.jpg" alt=""></a>
                            </div>
                        </div>
                        <!--Widget Add 3 End-->
                    </aside>
                </div>
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
    <!--kode Wrapper End-->
    <!--Jquery Library-->
    <script src="~/Content/Js/jquery.js"></script>
    <!--Bootstrap core JavaScript-->
    <script src="~/Content/Js/bootstrap.js"></script>
    <!--Slick Slider JavaScript-->
    <script src="~/Content/Js/slick.min.js"></script>
    <!--Number Count (Waypoints) JavaScript-->
    <script src="~/Content/Js/downCount.js"></script>
    <script src="~/Content/Js/waypoints-min.js"></script>
    <!--Dl Menu Script-->
    <script src="~/Content/Js/dl-menu/modernizr.custom.js"></script>
    <script src="~/Content/Js/dl-menu/jquery.dlmenu.js"></script>
    <!--Progress bar JavaScript-->
    <script src="~/Content/Js/jprogress.js" type="text/javascript"></script>
    <!--Pretty Photo JavaScript-->
    <script src="~/Content/Js/jquery.prettyPhoto.js"></script>
    <!--Custom JavaScript-->
    <script src="~/Content/Js/custom.js"></script>
    <script src="~/Scripts/jquery.tmpl.min.js"></script>
    
    <script id="schoolNew" type="text/html">
        <div class="kf_featured_wrap2">
            <!--Featured 2 thumb Start-->
            <div class="kf_featured_thumb">
                <figure>
                    <img src="${Images}" alt="" style="height:249px">
                </figure>
                <div class="text_wrper">
                    <div class="text" style="overflow:hidden;height:186px;text-overflow: ellipsis;">
                        <a  href="/Home/Detail?schoolNewId=${Id}"><span style="color: #ffbe00;">${Title}</span></a>
                        <span style="color:#666">${PublishTime}- ${Author}-${SchoolName}</span>
                        <div>{{html Content}}</div>
                    </div>
                    <div class="thumb_footer">
                        <div class="admin_thumb">
                            <figure><img src="extra-images/admin.jpg" alt="" /></figure>
                            <h6><a href="#">Alba Smith</a></h6>
                        </div>
                        <ul class="blog_meta">
                            <li>
                                <span><i class="fa fa-eye"></i>${ViewNumber}</span>
                            </li>
                            <li>
                                <span class="heart"><i class="fa fa-heart-o"></i>${ThumbUp}</span>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-comment-o"></i>${CommentNumber}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Featured 2 thumb End-->
        </div>

    </script>
    <script id="school" type="text/html">
        <div>
            <!--Result Thumb Start-->
            <div class="kf_result_thumb">
                <span></span>
                <div class="kf_result">
                    @*<div class="figure pull-left">
                            <figure>
                                <img src="extra-images/flag1.png" alt="">
                            </figure>
                            <a href="#">England</a>
                        </div>
                        <span>vs</span>
                        <div class="figure pull-right">
                            <figure>
                                <img src="extra-images/flag2.png" alt="">
                            </figure>
                            <a href="#">England</a>
                        </div>*@
                    <div>
                        <img src="/Images/hzsfdx.png" style="margin:0px auto;" />
                    </div>
                </div>
                <a href="#">杭州师范大学</a>
            </div>
            <!--Result Slider Thumb End-->
        </div>
    </script>
    <script id="schoolNewHot" type="text/html">
        <div>
            <!--Banner Thumb START-->
            <div class="thumb">
                <img src="${Images}" alt="" style="max-height:500px">
                <div class="container">
                    <div class="banner_caption text-center">
                        <span>${Title}</span>
                        <h1>
                            ${PublishTime} <b>|</b> ${Author}
                        </h1>
                        @*<div style="width:500px; overflow:hidden;text-overflow:ellipsis;height:150px;"><p>{{html Content}}</p></div>*@
                        <p style=" overflow:hidden;text-overflow:ellipsis;height:150px;">{{html Content}}</p>
                        <a href="#" class="btn-1">查看详情</a>
                    </div>
                </div>
            </div>
            <!--Banner Thumb End-->
        </div>
    </script>
    <script id="schoolNewNav" type="text/html">
        <div class="kf_recentnews">
            <figure>
                <a href="extra-images/recent_1.jpg">
                    <img src="${Images}" alt="">
                </a>
            </figure>
            <div class="text">
                <h6><a href="#">${Title}</a></h6>
                <p style=" overflow:hidden;text-overflow:ellipsis;height:44px">{{html Content}}</p>
                <em class="kf_date">${PublishTime} ${Author}</em>
            </div>
        </div>
    </script>
    <script id="schoolHot" type="text/html">
        {{each(i,item) data}}
        <li>
            <div class="table_no">
                <span>${i+1}</span>
            </div>
            <div class="team_logo">
                <span><img src="${item.Url}" alt="" style="width:58px;height:55px"></span>
                <a href="#">${item.Name}</a>
            </div>
            <div class="team_point">
                <span>${item.TotalView}</span>
            </div>
        </li>
        {{/each}}
    </script>
    <script>
        for (var i = 0; i < 10; i++) {
            $("#school").tmpl({}).prependTo("#schoollist");
        }

        function EncodeHtml(strUserInput) {
            if (strUserInput == null || strUserInput == "")
                return strUserInput;
            strUserInput = strUserInput.replace(new RegExp("&amp", "gm"), "&");
            strUserInput = strUserInput.replace(new RegExp("''", "gm"), "'");
            strUserInput = strUserInput.replace(new RegExp("&quot;", "gm"), "\"");
            strUserInput = strUserInput.replace(new RegExp("&nbsp;", "gm"), " ");
            strUserInput = strUserInput.replace(new RegExp("&;nbsp;", "gm"), " ");
            strUserInput = strUserInput.replace(new RegExp("&lt;", "gm"), "<");
            strUserInput = strUserInput.replace(new RegExp("&gt;", "gm"), ">");
            strUserInput = strUserInput.replace(new RegExp("\n", "gm"), "")
            return strUserInput.trim();
        }
        ///获取右侧最热新闻列表
        function getHotNewForNav() {
            $.get("/Home/LoadSchoolNewsHot?number=10", function (data) {
                $("#schoolNewNav").tmpl(data.data).prependTo($("#hotnav"));

            })
        }
        ///获取右侧最新新闻列表
        function getRecentNewForNav() {
            $.get("/Home/LoadSchoolNewsRecent?number=10", function (data) {
                $("#schoolNewNav").tmpl(data.data).prependTo($("#recentnav"));

            })
        }
        ///获取公告栏最热新闻
        function getHotNewForBanner() {
            $.get("/Home/LoadSchoolNewsHot?number=3", function (data) {
                $("#schoolNewHot").tmpl(data.data).prependTo($("#hotlist"));
                if ($('.main_banner').length) {
                    $('.main_banner').slick({
                        fade: true
                    });
                }
            })
        }
        function getHotSchool() {
            $.get("/Home/LoadSchoolListHot", function (data) {
                $("#schoolHot").tmpl(data).prependTo($("#schoolhotlist"));
            })
        }

        function getSchoolNew(orderBy, orderType) {
            if (orderBy == null || orderBy == undefined) {
                orderBy = 0;
            }
            if (orderType == null || orderType == undefined) {
                orderType = 0;
            }
            $.post("/Home/LoadSchoolNews", { pageIndex: 1, perpage: 10, orderBy: orderBy, orderType: orderType }, function (data) {
                $("#schoolNew").tmpl(data.data.Data).prependTo($("#content"));
            })
        }
        initial();
        function initial() {
            getHotNewForBanner();
            getHotNewForNav();
            getSchoolNew();
            getHotSchool();
            getRecentNewForNav();
        }
    </script>


