@{
    Layout = "~/Views/Shared/IndexLayout.cshtml";
}

<!--kode Wrapper Start-->
<div class="kode_wrapper">
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>高校预览</h3>
            <ul class="breadcrumb">
                <li><a href="#">主页</a></li>
                <li class="active"><span>高校预览</span></li>
            </ul>
        </div>
        <div class="div-border items-list" style="color:white;margin:auto">
            <div class="items">
                <span class="item-title">省份：</span><span class="elems-l">
                    <select id="ProvinceId" onchange="generateNavigator()">
                        <option value="-1">全部</option>
                    </select>
                </span>
            </div>

            <div class="items ">
                <span class="item-title">市区：</span>
                <span class="elems-l" >
                    <select id="AreaId" onchange="generateNavigator()">
                        <option value="-1">全部</option>
                    </select>
                </span>
            </div>
        </div>
    </div>

    <!--Inner Banner End-->
    <div class="kode_content_wrap">
        <section class="kf_blog2">
            <div class="container">
                <!--Featured 3 Slider Start-->
                <div class="kf_featured_wrap3">
                    <div class="row" id="content">

                    </div>
                </div>
                <!--Featured 3 Slider End-->
                <!--Kf Pagination Start-->
                <div class="kode-pagination text-center" id="pageList">

                </div>
                <!--Kf Pagination End-->
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
</div>
<link href="~/Content/Css/alertDiv.css" rel="stylesheet" />
<link href="~/Content/Css/navigator.css" rel="stylesheet" />
<!--kode Wrapper End-->
<!--Jquery Library-->
<script src="~/Content/Js/jquery.js"></script>
<!--Bootstrap core JavaScript-->
<script src="~/Content/Js/bootstrap.js"></script>
<!--Slick Slider JavaScript-->
<script src="~/Content/Js/slick.min.js"></script>
<!--Pretty Photo JavaScript-->
<script src="~/Content/Js/jquery.prettyPhoto.js"></script>
<!--Dl Menu Script-->
<script src="~/Content/Js/dl-menu/modernizr.custom.js"></script>
<script src="~/Content/Js/dl-menu/jquery.dlmenu.js"></script>
<!--Custom JavaScript-->
<script src="~/Content/Js/custom.js"></script>
<script src="~/Scripts/jquery.tmpl.min.js"></script>
<script src="~/Content/Js/alertDiv.js"></script>
<script type="text/html" id="school">

</script>
<script id="pager" type="text/html">
    {{if pageIndex == currentPage}}
    <span class="page-numbers current">${pageIndex}</span>
    {{else (pageIndex-currentPage<=3 && pageIndex-currentPage>=-3)||(currentPage<=3&&pageIndex-currentPage<=7-currentPage)||(currentPage>=pageCount-2 && pageIndex-currentPage>=currentPage-pageCount-6)}}
    <a class="page-numbers" href="#" onclick="getSchoolNew('${pageIndex}')"> ${pageIndex}</a>
    {{else (currentPage<=3 && pageIndex-currentPage == 8-currentPage)||(currentPage>3&&currentPage<pageCount-2&&pageIndex-currentPage==4)}}
    <a class="page-numbers" href="#" onclick="getSchoolNew('${pageIndex}')"> ></a>
    <a class="page-numbers" href="#" onclick="getSchoolNew('${pageCount}')"> >></a>
    {{else (currentPage>=pageCount-2 && pageIndex-currentPage==currentPage-pageCount-7)||(currentPage>3&&currentPage<pageCount-2&&pageIndex-currentPage==-4)}}
    <a class="page-numbers" href="#" onclick="getSchoolNew('1')"> <<</a>
    <a class="page-numbers" href="#" onclick="getSchoolNew('${pageIndex}')"> <</a>

    {{/if}}
</script>
<script id="School" type="text/html">
    <div class="col-md-3 col-sm-3" id="school${Id}">
        <!--Featured 3 thumb Start-->
        <div class="kf_featured_thumb">
            <figure>
                <img src="${SchoolIconUrl}" alt="" style="width:100%;height:200px;">
            </figure>
            <div class="text_wrper">
                <div class="text">
                    <a href="/Home/SchoolNews?schoolId=${Id}"><h6 style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap">${Name}</h6></a>
                    <p style=" overflow:hidden;text-overflow:ellipsis;height:50px;">${Introduce}</p>
                </div>
            </div>
        </div>
        <!--Featured 3 thumb End-->
    </div>
</script>
<script>
    generateNavigator();
    function generateNavigator(pageIndex) {
        console.log(111);
        var provinceId = $("#ProvinceId").val();
        var areaId = $("#AreaId").val();
        if (pageIndex == null || pageIndex == undefined) {
            pageIndex = 1;
        }
        $.post("/Home/GetMultiSelect", { provinceId: provinceId, areaId: areaId, currentPage: pageIndex, perPage: 8 }, function (data) {
            var provinces = data.data.Provinces;
            var areas = data.data.Areas;
            var schooles = data.data.Schools;
            var content = ' <option value="-1">全部</option>';
            var content1 = ' <option value="-1">全部</option>';
            for (var i = 0; i < provinces.length; i++) {
                if (provinces[i].Id == provinceId) {
                    content += '<option value="' + provinces[i].Id + '" selected>' + provinces[i].Name + '</option>'
                }
                else {
                    content += '<option value="' + provinces[i].Id + '">' + provinces[i].Name + '</option>'
                }
            }
            for (var i = 0; i < areas.length; i++) {
                if (areas[i].Id == areaId) {
                    content1 += '<option value="' + areas[i].Id + '" selected>' + areas[i].Name + '</option>'
                }
                else {
                    content1 += '<option value="' + areas[i].Id + '" >' + areas[i].Name + '</option>'
                }
            }
            $("#ProvinceId").html(content);
            $("#AreaId").html(content1);
            $("#School").tmpl(data.data.Schools).prependTo($("#content").empty());
            var pageCount = data.data.PageCount;
            var currentPage = data.data.CurrentPage;
            var pageList = [];
            for (var i = 1; i <= pageCount; i++) {
                var pager = { pageIndex: i, currentPage: currentPage, pageCount: pageCount };
                pageList.push(pager);
            }
            $("#pager").tmpl(pageList).appendTo($("#pageList").empty());
        })
    }
    function selectItem(Id, value, listId, item) {
        $("#" + Id).val(value);
        $("#" + listId + " a.selected-item").removeClass("selected-item");
        $(item).addClass("selected-item");
        getSchoolNew();
    }
    //generateNavigator();
</script>
