<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>后台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Content/Assests/js/login.js"></script>
    <link href="~/Content/Assests/css/login2.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="form">

        @RenderBody();
    </div>
</body>
</html>