
@{
    ViewBag.Title = "RequestList";
    Layout = "~/Views/Shared/IndexLayout.cshtml";
}
<link href="~/Content/Css/RequestList.css" rel="stylesheet"/>
<link href="~/Content/Css/RequestCommon.css" rel="stylesheet" />
<script src="~/Content/Js/jquery.js"></script>
<script src="~/Content/Js/bootstrap.js"></script>
<script src="~/Scripts/jquery.tmpl.min.js"></script> 
<div class="clearfix"></div>
<div id="wp" class="wp" style="position:relative;">
    <style id="diy_style" type="text/css"></style>
    <!--[diy=diynavtop]--><div id="diynavtop" class="area"></div><!--[/diy]-->
    <div id="pt" class="bm cl">
        <div class="z">
            <a href="./" class="nvhm" title="首页">Discuz! 官方站</a><em>»</em><a href="forum.php">首页</a> <em>›</em><a href="forum-plugin-1.html">管理员申请列表</a>
        </div>
    </div><div class="wp">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    </div>
    <div class="boardnav">
        <div id="ct" class="wp cl">

            <div class="mn">

                <div class="bm bw0 pgs cl">
                    <a href="/Message/SendMessage" id="newspecial" title="发新帖" class="btn btn-default">申请</a>
                    <span id="fd_page_bottom">
                    <div class="pg" id="pageList">
                        <a href="forum-plugin-2.html" class="prev">&nbsp;&nbsp;</a>
                        <a href="forum-plugin-1.html">1</a>
                        <a href="forum-plugin-2.html">2</a>
                        <strong>3</strong>
                        <a href="forum-plugin-4.html">4</a>
                        <a href="forum-plugin-5.html">5</a>
                       <a href="forum-plugin-500.html" class="last">... 4766</a>
                        <a href="forum-plugin-4.html" class="nxt">下一页</a></div></span>
                    <span class="pgb y"><a href="forum.php">返&nbsp;回</a></span>
                </div>

                <div id="threadlist" class="tl bm bmw">
                    <div class="th">
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <th colspan="2">
                                        <div class="tf">
                                            <a id="filter_special" href="javascript:;" class="showmenu xi2" onclick="showMenu(this.id)">全部主题</a>&nbsp;
                                            <a href="forum.php?mod=forumdisplay&amp;fid=26&amp;filter=lastpost&amp;orderby=lastpost" class="xi2">最新</a>&nbsp;
                                            <a href="forum.php?mod=forumdisplay&amp;fid=26&amp;filter=heat&amp;orderby=heats" class="xi2">热门</a>&nbsp;
                                            <a href="forum.php?mod=forumdisplay&amp;fid=26&amp;filter=hot" class="xi2">热帖</a>&nbsp;
                                            <a href="forum.php?mod=forumdisplay&amp;fid=26&amp;filter=digest&amp;digest=1" class="xi2">精华</a>&nbsp;
                                            <a id="filter_dateline" href="javascript:;" class="showmenu xi2" onclick="showMenu(this.id)">更多</a>&nbsp;
                                            <a href="javascript:;" onclick="checkForumnew_btn('26')" title="查看更新" class="forumrefresh"></a>
                                            <span id="clearstickthread" style="display: none;">
                                                <span class="pipe">|</span>
                                                <a href="javascript:;" onclick="clearStickThread()" class="xi2" title="显示置顶">显示置顶</a>
                                            </span>
                                        </div>
                                    </th>
                                    <td class="by">作者</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="bm_c">
                        <script type="text/javascript">var lasttime = 1493689681; var listcolspan = '5';</script>
                        <div id="forumnew" style="display:none"></div>
                        <form method="post" autocomplete="off" name="moderate" id="moderate" action="forum.php?mod=topicadmin&amp;action=moderate&amp;fid=26&amp;infloat=yes&amp;nopost=yes">
                            <input type="hidden" name="formhash" value="8ccbbab3">
                            <input type="hidden" name="listextra" value="page%3D3">
                            <table summary="forum_26" cellspacing="0" cellpadding="0" id="threadlisttableid">
                                
                            </table><!-- end of table "forum_G[fid]" branch 1/3 -->
                        </form>
                    </div>
                </div>
                <a class="bm_h" href="javascript:;" rel="forum.php?mod=forumdisplay&amp;fid=26&amp;page=4" curpage="3" id="autopbn" totalpage="500" picstyle="0" forumdefstyle="">下一页 »</a>
                
                <!--[diy=diyfastposttop]--><div id="diyfastposttop" class="area"></div><!--[/diy]-->
                <!--[diy=diyforumdisplaybottom]--><div id="diyforumdisplaybottom" class="area"></div><!--[/diy]-->
            </div>

        </div>
    </div>
    <div class="wp mtn">
        <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
    </div>
</div>
<script id="request" type="text/html">
    <tbody id="normalthread_${Id}">
        <tr>
            <td class="icn"></td>
            <th class="common" >
                <a class="y tdpre" href="javascript:void(0);" onclick="">通过</a>
                <em>[<a href="forum.php?mod=forumdisplay&amp;fid=26&amp;filter=typeid&amp;typeid=33"><font color="darkorange">求助</font></a>]</em> <a href="javascript:;" onclick="preview('${Id}')" class="s xst">${Title}</a>
            </th>
            <td class="by">
                <cite>
                    <a href="home.php?mod=space&amp;uid=1153038" c="1" mid="card_3132">${FromName}</a>
                </cite>
                <em><span>${CreatedTime}</span></em>
            </td>
            
        </tr>
        <tr style="display:none;" id="preview_${Id}">
            <td class="icn"></td>
            <td class="by" colspan="2">
               <span>
                   ${Content}
               </span>
            </td>

        </tr>
    </tbody>
</script>
<script id="pager" type="text/html">
    {{if pageIndex == currentPage}}
    <strong>${pageIndex}</strong>
    {{else (pageIndex-currentPage<=3 && pageIndex-currentPage>=-3)||(currentPage<=3&&pageIndex-currentPage<=7-currentPage)||(currentPage>=pageCount-2 && pageIndex-currentPage>=currentPage-pageCount-6)}}
    <a  href="#" onclick="getRequestList('${pageIndex}')"> ${pageIndex}</a>
    {{else (currentPage<=3 && pageIndex-currentPage == 8-currentPage)||(currentPage>3&&currentPage<pageCount-2&&pageIndex-currentPage==4)}}
    <a  href="#" onclick="getRequestList('${pageIndex}')"> ></a>
    <a href="#" onclick="getRequestList('${pageCount}')"> >></a>
    {{else (currentPage>=pageCount-2 && pageIndex-currentPage==currentPage-pageCount-7)||(currentPage>3&&currentPage<pageCount-2&&pageIndex-currentPage==-4)}}
    <a  href="#" onclick="getRequestList('1')"> <<</a>
    <a  href="#" onclick="getRequestList('${pageIndex}')"> <</a>

    {{/if}}
</script>
<script>
    function getRequestList(pageIndex) {
        $.post("/Message/GetMessgaeList", { searchContent: "", pageIndex: pageIndex, perPage: 10 }, function (data) {
            console.log(data);
            if (data.data.length != 0 && data.data != null) {
                $("#request").tmpl(data.data.Data).appendTo($("#threadlisttableid").empty());
                var pageCount = data.data.PageCount;
                var currentPage = data.data.CurrentPage;
                var pageList = [];
                for (var i = 1; i <= pageCount; i++) {
                    var pager = { pageIndex: i, currentPage: currentPage, pageCount: pageCount };
                    pageList.push(pager);
                }

                $("#pager").tmpl(pageList).appendTo($("#pageList").empty());
            }
        })
    }
    function preview(id) {
        $("#preview_" + id).toggle();
    }
    function examine(id) {
        $.post("/Message/ExamineRequest", {id:id}, function (data) {
            console.log(111);
        })
    }
    getRequestList(1);
</script>

